
@import 'branding.css';

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.navbar-inverse{
	height: 70px;
	background-image: -webkit-linear-gradient(left, #3E53A4 0%, #118FE0 100%);
	background-image: -o-linear-gradient(left, #3E53A4 0%, #118FE0 100%);
	background-image: linear-gradient(to right, #3E53A4 0%, #118FE0 100%);
}

.btn-chat a {
  font-family: arial;
  color: #fff;
  text-decoration: none;
  background: #006C8C;
  padding: 24px 20px 8px;
  display: block;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0 0 0 1px #006C8C inset;
  border: 1px solid #144866;
  border-radius: 2px;
  -ms-transform: rotate(90deg) translate(0, -20px);
  -webkit-transform: rotate(90deg) translate(0, -20px);
  transform: rotate(90deg) translate(0, -20px);
  position: relative;
  right: 0px;
  transition: background 0.2s, right 0.2s;
}
.btn-chat a:hover {
  background: #006C8C;
  right: -10px;
  transition: background 0.2s, right 0.2s;
}

.jumbotron {
	background-image: url("../img/knowledge-fabric-hero.png");
	background-repeat: no-repeat;
  background-size: cover;
}

.list-group-item {
	border: 0px;
}

.rounded-button {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 20px;
    color: #fff;
    font-weight: 500;
    font-size: 1em;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-color: transparent;
    background: var(--third-bg-color);
}

.btn-default{
	color: var(--main-bg-color);
}

.chat-container {
   /* background-color: var(--main-bg-color); */
	 	/* background-image: url("../img/background.jpg"); */
	display: none;
	right: 0px;
	bottom: 0px;
	z-index: 999999;
	height: 500px;
	width:525px;
	/*width: calc(40vw + 100px);*/
	float: none;
	margin: 0 auto;
}

@media (max-width : 549px){
  .chat-container {
    height: 500px;
		width:100%;
    /*width: 90%;
	margin-left: 5%;
	margin-right: 5%;*/
  }
}

@media screen and (min-width : 550px) (max-width : 768px){
  .chat-container {
    height: 500px;
		width:85%;
		min-width: 450px;
    /*width: 90%;
	margin-left: 5%;
	margin-right: 5%;*/
  }
}

@media screen and (min-width : 769px) and (max-width : 992px){
	.chat-container {
    height: 100%;
		float: none;
	 	margin: 0 auto;
  }
}


.chat-container-wrapper{
	 background-color: var(--main-bg-color);
}
