@import 'branding.css';

@font-face {
	font-family: 'Nucleo Mini';
	src: url('../fonts/nucleo-mini/nucleo-mini.eot');
	src: url('../fonts/nucleo-mini/nucleo-mini.eot') format('embedded-opentype'), url('../fonts/nucleo-mini/nucleo-mini.woff2') format('woff2'), url('../fonts/nucleo-mini/nucleo-mini.woff') format('woff'), url('../fonts/nucleo-mini/nucleo-mini.ttf') format('truetype'), url('https://new-chatbotdev.ces.pitneycloud.com/public/fonts/nucleo-mini/nucleo-mini.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.pb-chat-popup-box {
	display: block;
	height: 100%;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}

.pb-chat-popup-box-on {
	display: block !important;
}
.pb-chat-popup-box .pb-chat-popup-head {
	visibility: hidden;
	clear: both;
	color: #7b7b7b;
	display: inline-table;
	font-size: 21px;
	width: 100%;
	height: 50px;

}
.pb-chat-popup-box .pb-chat-popup-head .pb-chat-popup-head-right {
	margin: 11px 7px 0;
}
.pb-chat-popup-head-left img {
	border: 1px solid #7b7b7b;
	border-radius: 50%;
	width: 44px;
}
.pb-webchat-title {
	margin-top: 11px;
	padding-left: 5px;
	float: left;
}
.pb-chat-popup-box .pb-chat-popup-messages {
	height: calc(100% - 20px);
	overflow: auto;
}
.pb-chat-popup-messages-footer {
	height: 60px;
	width: 100%;
}
.pb-chat-popup-messages-footer > textarea {
	border-bottom: 1px solid #b2b2b2 !important;
	height: 34px !important;
	margin: 7px;
	padding: 5px !important;
	border: medium none;
	width: 74% !important;
}
.pb-chat-popup-messages-footer .fullwidth {
	width: 95% !important;
}
.pb-chat-popup-messages-footer > button {
	height: 34px !important;
	margin-right: 7px;
	margin-top: 7px;
	border: 1px solid #dff0d8;
	background-color: #3f54a4;
	color: #f5f5f5;
	padding: 5px !important;
	width: 19% !important;
	float: right;
}
.pb-chat-popup-messages-footer .pb-chat-btn-footer {
	overflow: hidden;
	padding: 2px 5px 10px 6px;
	width: 100%;
}

.pb-input-content {
	background-color: var(--secondary-bg-color);;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
	margin-top: 5px;
	padding-top: 5px;
	display: none;
}
.pb-input-content > button {
	height: 34px !important;
	margin-right: 7px;
	margin-top: 7px;
	border: none;
	background-color: var(--main-bg-color);
	color: #ffffff;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	border-radius: 1.875rem;
	padding: 5px !important;
	width: 19% !important;
	float: right;
}
.pb-input-content > textarea {
	border-bottom: 1px solid #b2b2b2 !important;
	height: 34px !important;
	margin: 7px;
	padding: 5px !important;
	border: medium none;
	width: 74% !important;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border-radius: 20px;
}
.pb-chat-popup-messages .pb-chat-direct-chat-text-outbound {

}
.pb-chat-round.hollow {
	margin: 40px 0 0;
}
.pb-chat-round.hollow a {
	border: 2px solid #ff6701;
	border-radius: 35px;
	color: red;
	color: #ff6701;
	font-size: 23px;
	padding: 10px 21px;
	text-decoration: none;
}
.pb-chat-round.hollow a:hover {
	border: 2px solid #000;
	border-radius: 35px;
	color: red;
	color: #000;
	font-size: 23px;
	padding: 10px 21px;
	text-decoration: none;
}
.pb-chat-bg_none i {
	border: 1px solid #ff6701;
	border-radius: 25px;
	color: #ff6701;
	font-size: 17px;
	height: 33px;
	line-height: 30px;
	width: 33px;
}
.pb-chat-bg_none:hover i {
	border: 1px solid #000;
	border-radius: 25px;
	color: #000;
	font-size: 17px;
	height: 33px;
	line-height: 30px;
	width: 33px;
}
.pb-secondary-msg {
	margin-left: 40px;
}
.pb-chat-bg_none {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
}
.pb-chat-simple_round {
	background: #d1d1d1 none repeat scroll 0 0;
	border-radius: 50%;
	color: #4b4b4b !important;
	height: 21px;
	padding: 0 0 0 1px;
	width: 21px;
}
.pb-chat-direct-chat-messages {
	overflow: auto;
	padding: 10px;
	transform: translate(0px, 0px);
}
.pb-chat-popup-messages .pb-chat-box-single-line {
	visibility:hidden;
	border-bottom: 1px solid #c0c0c0;
	height: 12px;
	margin: 7px 0 20px;
	position: relative;
	text-align: center;
}
.pb-chat-popup-head-right .btn-group {
	display: inline-flex;
	margin: 0 8px 0 0;
	vertical-align: top !important;
}
.pb-chat-header-button {
	background: transparent none repeat scroll 0 0;
	border: 1px solid #636364;
	border-radius: 50%;
	font-size: 14px;
	height: 30px;
	width: 30px;
	padding-left: 7px;
}
.pb-chat-popup-head-right .btn-group .dropdown-menu {
	border: medium none;
	min-width: 122px;
	padding: 0;
}
.pb-chat-popup-head-right .btn-group .dropdown-menu li a {
	font-size: 12px;
	padding: 3px 10px;
	color: #303030;
}
.pb-chat-popup-messages abbr.timestamp {
    background: #c0c0c0  none repeat scroll 0 0;
    color: #fff;
    padding: 0 11px;
}

.pb-chat-popup-messages .pb-chat-direct-chat-messages {
	height: auto;
	overflow: hidden;
}
.pb-chat-popup-messages .pb-chat-direct-chat-timestamp {
	color: #444;
	opacity: 0.6;
}
.pb-chat-popup-messages .pb-chat-direct-chat-name {
	font-size: 15px;
	font-weight: 600;
	margin: 0 0 0 49px !important;
	color: #fff;
	opacity: 0.9;
}
.pb-chat-popup-messages .pb-chat-direct-chat-info {
	display: block;
	font-size: 12px;
	margin-bottom: 0;
}
.pb-chat-popup-messages  .big-round {
	margin: -9px 0 0 !important;
}
.pb-chat-img {
	padding-right: 5px !important;
}
.pb-chat-popup-messages  .pb-chat-direct-chat-img {

	/* border: 1px solid #fff; */
	border-radius: 50%;
	float: left;
	height: 30px;
	width: 30px;
	bottom: 1px;
	position: absolute;
}
.pb-chat-direct-chat-reply-name {
	color: #fff;
	font-size: 15px;
	margin: 0 0 0 10px;
	opacity: 0.9;
}
.pb-chat-direct-chat-img-reply-small {
	border: 1px solid #fff;
	border-radius: 50%;
	float: left;
	height: 20px;
	margin: 0 8px;
	width: 20px;
	background:#3f9684;
}

.pb-chat-direct-chat-outbound-img{
  color: #fff;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-left: 5px;
	border: 1px solid #fff;
	border-radius: 50%;
	margin-top: 15px;
	margin-bottom: 2px;
}
.pb-chat-popup-messages .pb-chat-direct-chat-msg {
	position: relative;
}
.pb-chat-popup-messages .doted-border::after {

}
.pb-chat-popup-messages .pb-chat-direct-chat-msg::after {

	border-right: medium none;
	bottom: 0;
	content: "";
	left: 17px;
	margin: 0;
	position: absolute;
	top: 0;
	width: 2px;
	display: inline;
	z-index: -2;
}
.pb-chat-direct-chat-text-outbound::after {
	border-width: 5px;
	margin-top: -5px;
}
.pb-chat-direct-chat-text-inbound {
	background: #ffffff;
	color: var(--main-bg-color);
	padding: .625rem 1.25rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    border-radius: 1.875rem;
	margin-top: 10px;

}

.pb-chat-direct-chat-button-inbound {
	color: var(--main-bg-color);
	padding: .625rem 1.25rem;
    border-radius: 1.875rem;
	margin-top: 10px;
	/*
	border-style: solid;
    border-color: #ffffff;*/
}
.pb-outbound-container {
	display: flex;
	margin-bottom: 10px;
	margin-left: 45px;
	justify-content: flex-end;
}
.pb-inbound-container {
	margin-bottom: 10px;
	display: flex;
}
.pb-inbound-items {
	margin-left: 45px;
	max-width: 90%;
	overflow: hidden;
}

.pb-cards-wrapper {
	border-radius: 30px 30px 30px 5px;
	border: 1px solid #E0E0E0;
	margin-top: 2px;
	background-color: #fff;
}
.pb-inbound-text-wrapper {
	margin-left:5px;
	margin-bottom: 2px;
}

.img-container {
	display: inline;
}
.pb-chat-direct-chat-text-outbound {
	background: var(--main-bg-color);
	color: #fff;
	padding: .625rem 1.25rem;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    border-radius: 1.875rem;
    border-bottom-right-radius: 5px;

	margin-top: 2px;


}
.pb-chat-btn-live-preview {
	background: white;
	margin-bottom: 2px;
	margin-right: 5px;
	box-shadow: 0 0 20px rgba(0,0,0,0.15);
    border-radius: 1.875rem;
}

.pb-chat-badge-brand-info {
    font-size: 14px !important;
    line-height: 2 !important;
    color: #323232 !important;
    background-color: #ffffff !important;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24)
}
.pb-chat-card-container {
	overflow-x: hidden;
}
.pb-chat-card-container .pb-chat-card {
	max-width: 225px;
	display: table-cell;
	padding: 6px;
	border-radius: 1.875rem;
}
@media (max-width : 549px){
  .pb-chat-card-container .pb-chat-card {
  	max-width: calc(75vw);
  }
}
.pb-chat-card-container .pb-chat-card img {
	border-radius: 1.875rem;
	/* border-radius: 30px 30px 30px 5px; */
    width: 100%;
    /* max-height: 250px; */
		height: 150px;
    object-fit: cover;
    -webkit-filter: brightness(1);
    filter: brightness(1);
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    object-position: 50% 20%;
    margin-bottom: 0 !important;
 }
.pb-chat-card-container .pb-chat-card .pb-chat-title {
	font-weight: bold;
}
.pb-chat-card-container .pb-chat-card .pb-chat-subtitle {
	opacity: .70;
	min-height: 180px;
}
.pb-chat-card-container .pb-chat-card .pb-chat-url {
	text-decoration: none;
	color: inherit;
	opacity: .70;
	cursor: pointer;
}
.pb-chat-card-container .pb-chat-card .pb-chat-buttons {
	text-align: right;
}
.pb-chat-typing-indicator {
	top: 4px;
	background-color: #fff;
	width: auto;
	border-radius: 50px;
	padding: 5px;
	visibility: hidden;
	display: table;
	margin: 0 auto;
	margin-left: 5px;
	position: relative;
	-webkit-animation: 2s bulge infinite ease-out;
	animation: 2s bulge infinite ease-out;
}
.pb-chat-typing-on {
	visibility: inherit;
	display: table;
}
.pb-chat-typing-indicator span {
	height: 5px;
	width: 5px;
	float: left;
	margin: 0 1px;
	background-color: var(--main-bg-color);
	display: block;
	border-radius: 50%;
	opacity: 0.4;
}
.pb-chat-typing-indicator span:nth-of-type(1) {
	-webkit-animation: 1s blink infinite 0.3333s;
	animation: 1s blink infinite 0.3333s;
}
.pb-chat-typing-indicator span:nth-of-type(2) {
	-webkit-animation: 1s blink infinite 0.6666s;
	animation: 1s blink infinite 0.6666s;
}
.pb-chat-typing-indicator span:nth-of-type(3) {
	-webkit-animation: 1s blink infinite 0.9999s;
	animation: 1s blink infinite 0.9999s;
}
.pb-chat-quick-reply-container {
	padding: 10px 0px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-right: 0px;
}
.quick-reply {
	background-color: transparent;
	border: 1px solid #c0c0c0;
	border-radius: 24px;
	color: #2c9cfb;
	padding: 4px 6px;
	line-height: 1.5;
	font-weight: 500;
	font-size: 13px;
}
.quick-reply-img {
	float: left;
	padding-right: 5px;
	height: 16px;
}
@-webkit-keyframes blink {
	50% {
		opacity: 1;
	}
}
@keyframes blink {
	50% {
		opacity: 1;
	}
}
@-webkit-keyframes bulge {
	50% {
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
	}
}
@keyframes bulge {
	50% {
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
	}
}

/* custom slick slider styles */
.slick-slide {
	height: auto;
}
.slick-prev, .slick-next {
	display: none !important;
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 50%;
	width: 30px;
	height: 30px;
	padding: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	cursor: pointer;
	color: transparent;
	border: 1px solid #c0c0c0;
	border-radius: 3px;
	background: white;

	z-index: 2;
}

.slick-prev:focus,
.slick-next:focus {
	outline: none;
}

.slick-prev:before,
.slick-next:before {
	font-family: 'Nucleo Mini';
	font-size: 20px;
	line-height: 1;
	opacity: .75;
	color: black;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.slick-prev:before {
	content: '\e927';
}
.slick-next {
	right: 0px;
}
.slick-next:before {
	content: '\e928';
}
.card-nav-btns {
	background-color: transparent;
	height: 51%;
	width: 100%;

	position: absolute;
	z-index: 1;
}
.show {
	display: block !important;
}
ul.slick-dots {
	display: none !important;
}
.pb-chat-header-connected {
	padding-top: 4px;
	margin-right: 4px;
	visibility: hidden;
}
.pb-chat-connected-indicator {
	visibility: hidden;
}
.pb-chat-disconnected {
	color: red;
	visibility: visible;
}
