#chatbutton-container {
  height: 153px;
  position: fixed;
  right: 0;
  top: 200px;
  top: 30vh;
  z-index: 10000;
}
.btn-chat a {
  font-family: arial;
  color: #fff;
  text-decoration: none;
  background: #006C8C;
  padding: 24px 20px 8px;
  display: block;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0 0 0 1px #006C8C inset;
  border: 1px solid #144866;
  border-radius: 2px;
  -ms-transform: rotate(90deg) translate(0, -20px);
  -webkit-transform: rotate(90deg) translate(0, -20px);
  transform: rotate(90deg) translate(0, -20px);
  position: relative;
  right: 0px;
  transition: background 0.2s, right 0.2s;
}
.btn-chat a:hover {
  background: #006C8C;
  right: -10px;
  transition: background 0.2s, right 0.2s;
}



@media screen and (min-width: 1024px){
    .chat-container {
        height: 500px;
        width: 360px;
    }
}
@media screen and (min-width : 768px) and (max-width : 1023px){
    .chat-container {
        height: 500px;
        width: 360px;
    }
}
@media screen and (min-width : 0px) and (max-width : 767px){
  .chat-container {
    height: 100%;
    width: 100%;
  }
}

.chat-container {
   background-color: #ffffff;
    border: 1px solid #b0b0b0;
    display: none;
    position: fixed;
    right: 0px;
    bottom: 0px;
    z-index: 999999;
}